{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

<title>
    🚎취향에 맞는 추천
</title>
</head>
<body>
    <div class="header">
        <div class="brand-box">
            <span class="brand">너와 나드리</span>
        </div>
        <div class="text-box">
            <div class="header-content">
                <h1><a href="/" rel="home"><img class="header-img" src="./images/leaf1.png" alt="leaf1"/>너와 <span>나</span>드리<img img class="header-img" src="./images/leaf2.png" alt="leaf2"/></a></h1>
            </div>
        </div>
    </div>
    <div id="content" style="text-align: center; width: 150px; height: 50px;">
        <div class="form-content">
        <form class="preference-content">
            <div class="tema">
                <span>목적지 </span><select class="preference-detail">
                    <option class="optionbox" value ='' selected>선택</option>
                    <option class="optionbox" value='seoul'>서울</option>
                    <option class="optionbox" value='gangwon'>강원도</option>
                    <option class="optionbox" value='gyeonggi'>경기도</option>
                    <option class="optionbox" value='chungcheongbuk'>충청북도</option>             
                    <option class="optionbox" value='chungcheongnam'>충청남도</option>
                    <option class="optionbox" value='gyeongsangbuk'>경상북도</option>
                    <option class="optionbox" value='gyeongsanganm'>경상남도</option>
                    <option class="optionbox" value='jeollabuk'>전라북도</option>
                    <option class="optionbox" value='Jeollanam'>전라남도</option>                </select>
            </div>
            <div class="start-day">
                <span>출발일 </span><input type="date" class="start-date">
            </div>
            <div class="human">
                <span>인원수 </span><select class="human-number">
                    <option class="optionbox" value ='' selected>선택</option>
                    <option class="optionbox" value='one'>1</option>
                    <option class="optionbox" value='two'>2</option>
                    <option class="optionbox" value='tree'>3</option>
                    <option class="optionbox" value='four'>4</option>             
                    <option class="optionbox" value='five'>5</option>
                    <option class="optionbox" value='six'>6</option>
                    <option class="optionbox" value='seven'>7~10</option>
                    <option class="optionbox" value='eight'>11~15</option>
                </select>
            </div>
            <br/>
            <div className="boxtable">
                <label>
                #힐링
                <input type="checkbox" />
                </label>
                <label>
                #먹방
                <input type="checkbox" />
                </label>
                <label>
                #레저
                <input type="checkbox" />
                </label>
                <br/>
                <label>
                #유흥
                <input type="checkbox" />
                </label>
                <label>
                #산
                <input type="checkbox" />
                </label>
                <label>
                #바다
                <input type="checkbox" />
                </label>
                <br/>
                <label>
                #문화재
                <input type="checkbox" />
                </label>
                <label>
                #전시회
                <input type="checkbox" />
                </label>
                <label>
                #놀이공원
                <input type="checkbox" />
                </label>
                <br/>
              </div>
            <input class="tema-btn" type="button" value="결과보러가기" onclick="location.href='ver3_2pg.html'">

        </form>
        </div>
    </div>

</body>
</html>