
/* 헤더 1~117 */


@font-face {
    font-family:"jua";
    src: url(../beer/font/BMJUA_ttf.ttf);
}

li {
    list-style: none;
}

.header {
    height: 50vh;
    background-image: 
   url('./images/header_img_2.png');
    
  background-size: cover;
    background-position: top;
    position: relative;
}

.header-a{
    color: #fff;
    text-decoration: none;
    font-size: 115px;
    font-family:"jua";
}


.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand {
    font-size: 20px;
    color: #fff;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
  font-size: 14px;
}

.header-img {
    width: 50px;
    height: 50px;
}

.header-content{
    position: relative;
    z-index: 1;
    padding-top: 0.1px;
}
/* .header-content::after {
    background-color: aliceblue;
    top:0;
    left:0;
    position:absolute;
    opacity:0.8!important;
    z-index:-1;
    content:"";
    width:770px;
    height:19vh;
    border-radius: 30px;
}

.header-content h1 span {
    color: #e27b4b;
  }

.header-content h1 a {
    color:#ecca4f;
    font-size: 125px;
    text-decoration:none;
} */

/* 메뉴선택 리스트 121~147 */

#recommendation {
    width: 100%;
    height: 10vh;
    background-color: #fff;
    
}
.main-nav-ul {
    display: inline-block;
    align-items: center;
    height: 1000px;
    margin-top: 10px;
    width: 50vw;
    background-color: #fff;
    padding-left: 0;
}
.main-nav-li {
    padding-top: 45px ;
    font-size: 50px;
    background-color: #eeeeee;
    border: 5px solid #e0e0e0;
    border-radius: 35px;
    height: 100px;
    width: 49vw;
    display: inline-block;
    align-items: center;
}
.li-empty {
    background-color: #fff;
    width: 100%;
    height: 100px;
}
.li-font {
    color: #7e7e7e;
    text-decoration: none;
    font-family: "jua";
}
.ver1-recommend {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 49vw;
    height: 49.5vh;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    font-size: 20px;
}
.ver1-recommend-left {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background-color: #fff;
}

.ver1-recommend-right {
    width: 50%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    background-image: url('https://source.unsplash.com/640x640/?travel');
    background-size: fill
}
.ver3-recommend {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 49vw;
    height: 49.5vh;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    font-size: 20px;
}
.ver3-recommend-left {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background-image: url('https://source.unsplash.com/640x640/?nature');
    background-size: fill
}

.ver3-recommend-right {
    width: 50%;
    height: 100%;
    float: right;
    box-sizing: border-box;

}

/* 결과페이지 151~171 */

.result-card{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #236bb2;
}
.result-img {
    max-height: 500px;
    max-width: 700px;
    min-width: 700px;
    min-height: 500px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.result-header {
    background-color:#3399FF ;
    height: 100px;
    display: block;
    padding-top: 15px;
}

/* 취향에 맞게 추천 */

.content {
    width: 100%;
}

.preference-content{
    margin-top: 50px;
    width: 1450px;
    height: 1000px;
    background-color: #fff;
    display: inline-block;
}
.tema {
    align:left;
}

.preference-detail {
    margin-top: 10px;
    width: 100px;
    height: 35px;
    margin-bottom: 10px;
}

.start-date {
    height: 35px;
    margin-bottom: 10px;
}

.human-number {
    width: 100px;
    height: 35px;
}
.tema-btn{
    margin-bottom: 15px;
}
.boxtable {
    display: inline-block;
    line-height: 50px;
    width: 100px;
}

label {
    display: inline-block;
    width: 200px;
    padding: 20px;
    border: black;
}

/* ver3 tema */

.form-content{
    display: inline-block;
}
.ver3-destination {
    text-align: left;
    font-size: 1.9vw;
}
.ver3-destination-detail {
    width: 8.89vw;
    height: 2vw;
    display: inline-block;
    font-size: 20px;
}
.ver3-startday {
    text-align: left;
    font-size: 1.9vw;
}
.ver3-startday-detail {
    height: 2vw;
    display: inline;
    font-size: 20px;
}
.ver3-human {
    text-align: left;
    font-size: 1.9vw;
}
.ver3-human-detail {
    width: 8.89vw;
    height: 2vw;
    display: inline-block;
    font-size: 20px;
}
.ver3-boxtable {
    text-align: left;
}
.ver3-tema {
    text-align: left;
    font-size: 1.9vw;
}
.ver3-label {
    display:inline-block;
    width: 150px;
    font-size: 0.9vw;
}
input[type=checkbox] {
    zoom: 1.8;
}
.ver3-tema-btn {
    margin-top: 2vh;
    width: 10vw;
    height: 5vh;
    font-size: 1.2vw;
    border-radius: 35px;
    background-color: #eeeeee;
    border: 5px solid #e0e0e0;
}

/* footer */
.wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 600px;
}

.footer {
    margin-top: 500px;
    width: 100%;
    height: 600px;
    background-color: #7e7e7e;
    position: absolute;
}